<div id="graficas">
    <div class="grid-item-date">
        <label for="fromDate">{{i18n 'From date'}}:</label>
        <input type="date" id="fromDate" name="fromDate">

        <label for="toDate">{{i18n 'To date'}}:</label>
        <input type="date" id="toDate" name="toDate">

        <button class="botton" id="datebutton">{{i18n 'Apply date'}}</button>

    </div>


    <span>
        <label for="combustibleCheck" class="checkbox-inline"></label>
        <input type="checkbox" id="combustibleCheck" value="yes">{{i18n 'Fuel'}}<br>

        <label for="alimentacionCheck" class="checkbox-inline"></label>
        <input type="checkbox" id="alimentacionCheck" value="yes">{{i18n 'Food'}}<br>

        <label for="comunicacionesCheck"></label>
        <input type="checkbox" id="comunicacionesCheck" value="yes">{{i18n 'Communications'}}<br>

        <label for="suministrosCheck"></label>
        <input type="checkbox" id="suministrosCheck" value="yes">{{i18n 'Supplies'}}<br>

        <label for="ocioCheck"></label>
        <input type="checkbox" id="ocioCheck" value="yes">{{i18n 'Fun'}}<br>

        <input type="submit" id='buttontypes' value="{{i18n 'Filter by type of expenses'}}">
    </span>


    <div id="container"></div>

    <div id="container2"></div>

</div>