<tr key="{{id}}">
  {{!-- No se muy bien si poner {{type}} me sirve para dever la columna, ver bien cuando se pueda ver la pagina--}}

  <td><a href="#view-expense?id={{id}}">{{type}}</a></td>
  <td>{{owner}} ({{user.currentUser}})</td>
  <td>

    {{#if_eq user.currentUser owner}}

      <button class="remove-button" item="{{id}}">{{i18n 'remove'}}</button>
      <button class="edit-button" item="{{id}}">{{i18n 'edit'}}</button>
    {{/if_eq}}
  </td>
</tr>
