<div>
  {{#if isLogged}}

    {{i18n 'Hello'}} {{currentUser}}
    <input type="button" id='logoutbutton' value="{{i18n 'Logout'}}"></input>
    <input type="button" id='deleteuserbutton' value="{{i18n 'Delete User'}}"></input>

  {{else}}
    <a href='#login'>{{i18n 'Login'}}</a>
  {{/if}}
</div>
